<div ng-app="angularLesson">
  <div ng-controller="FirstCtrl">
    <h1>{{data.message + " world"}}</h1>
    <div class="{{data.message}}">
      Wrap me in a foundation component
    </div>
  </div>
</div>